{% extends 'base.html' %} 

{% load humanize %}
{% load mathfilters %}
{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase" style="background-repeat:no-repeat; background-position:top center;background-attachment: fixed;background-size: cover; background-image: url('https://redmondmag.com/articles/2013/12/01/~/media/ECG/redmondmag/Images/introimages/1213red_DecMaker.ashx')">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4" >
            <strong>Rent It!</strong>
          </h1>
          <p class="lead">Why Buy, when you can Rent It! We give the best product listings for your renting solutions!</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Jeans, Bicycle, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">State (All)</option>
                    {% for key,value in state_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Quantity</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Quantity (All)</option>
                    {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.image.0 |slice:"1:-1"}}" alt="" height="200!important" min-height="200!important">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ listing.discounted_price|intdiv:70 | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.product_name }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> Ratings: {{ listing.overall_rating }}</p>
                  </div>
                  <hr>
                   <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Brand: {{ listing.brand }}</div>
                    <div class="col-6">
                      <i class="fas fa-dollar-sign"></i> Retail Price: ${{ listing.retail_price |intdiv:70 | intcomma}}</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-deskpro" title="{{ listing.description }}"></i> Descriptions: {{ listing.description|slice:":20" }}</div>
                    <div class="col-6">
                      <i class="fas fa-deploydog"></i> Next-Day Delivery: {{ listing.is_FK_Advantage_product|yesno:"Yes,No" }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-user"></i> {{ listing.realtor }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Any Queries?</h3>
          <p>Leave us an email on contact@rentit.com</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-address-book fa-4x mr-4"></i>
          <hr>
          <h3>About Us</h3>
          <p>A rental service website that customers can post goods for rent, and also select goods to rent. This service will keep track of customers, the different objects for rent, and if they are available or in use currently. We will set this up for a few types of goods initially, and branch out to more, given time.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-address-card fa-4x mr-4"></i>
          <hr>
          <h3>Address</h3>
          <p>708 South Beech St, Syracuse New York 13210 Contact:- +1 315-380-9524</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}